aerich
aiofiles
aiogram
aiogram-dialog
aiohttp
aioredis
aiosignal
aiosqlite
apturl
asgiref
async-timeout
attrs
Babel
bcrypt
blinker
Brlapi
cachetools
certifi
chardet
charset-normalizer
click
colorama
coloredlogs
command-not-found
contourpy
cryptocompare
cryptography
cupshelpers
cycler
dbus-python
defer
dictdiffer
distro
distro-info
dnspython
duplicity
fasteners
fonttools
frozenlist
future
gpg
h11
httplib2
humanfriendly
idna
importlib-metadata
iso8601
jeepney
Jinja2
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
loguru
louis
macaroonbakery
magic-filter
Mako
Markdown
MarkupSafe
matplotlib
monotonic
more-itertools
multidict
netifaces
numpy
oauthlib
olefile
packaging
pandas
paramiko
peewee
peewee-migrate
pexpect
Pillow
protobuf
psycopg2-binary
ptyprocess
pyaes
pycairo
pycups
pydantic
Pygments
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pypika-tortoise
pyRFC3339
Pyrogram
pysmbc
PySocks
python-apt
python-dateutil
python-debian
python-decouple
pytz
pyxdg
PyYAML
redis
reportlab
requests
requests-toolbelt
scipy
screen-resolution-extra
seaborn
SecretStorage
six
systemd-python
TgCrypto
toml
tomlkit
tortoise-orm
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
uvicorn
vboxapi
wadllib
wsproto
xdg
xkit
XlsxWriter
yarl
zipp